<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>

    <meta charset="utf-8">
    <title>collproject</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    {% block head_block %}
    {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark navbar-static-top">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a class="navbar-brand" href="{% url 'quiz:index' %}">KCSKNC</a></li>
          <li><a class="navbar-link" href="{% url 'admin:index' %}">Admin</a></li>


          <!-- {% if user.is_authenticated %}
            <li><a href="{% url 'quiz:logout' %}">Logout</a></li>
            <li><a href="{% url 'quiz:staff_categories' %}">UPDATE</a></li>
          {% else %}
            <li><a class="navbar-link" href="{% url 'quiz:login' %}">Login</a></li>
          {% endif %} -->

        </ul>
      </div>
    </nav>
    <div class="container">
    {% block body_block %}
    {% endblock %}
    </div>


  </body>
  {% block for_js %}
  {% endblock %}
</html>
